.Content {
    margin:auto;
    margin-bottom: 10px;
    border:4px solid black;
    min-width:85vw;
    padding:0;
    table-layout:fixed;
    border-spacing: 0;
    background-color:white;
    
    th{
        background-color:green;
        font-family: 'Bungee Inline', cursive;
        color:rgb(255, 255, 255);
        font-size:2em;
        border:4px solid green;
        text-shadow: 2px 2px 0 black, 2px -2px 0 black, -2px 2px 0 black, -2px -2px 0 black, 2px 0px 0 black, 0px 2px 0 black, -2px 0px 0 black, 0px -2px 0 black;
        padding:10px;
        text-align:left;
        cursor: default;
        user-select: none;
    }

    tr{

    }
    
    td{
        border-top:2px solid black;
        max-width:45vw;
        padding:20px;
        font-family: 'Poppins';
        font-size:1.3em
    }

    p{
        word-wrap: normal;
    }
}