.MazeDisplay {

  margin-bottom: 50px;

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }
  
  dd {
    margin: 5px;
  }

  
  div {
    display: flex;
    justify-content: center;

    pre {
      font: normal;
      line-height: 1.1;
      text-align: left;
    }
  }
  
  pre[name="json"] {
    margin: auto;
    line-height: 1;
    max-width: 80vw;
    max-height: 70vh;
    overflow: scroll;
    text-align: left;
    background-color: #CCCCCC;
    border: 1px black;
  }

}