.Options {
  width: 70vw;
  margin: auto;
  text-align: left;
  align-items:center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  }
  
  div {
    max-width: 500px;
    margin: 2px;

    button, select {
      padding: 5px;
      min-width: max-content;

    }

    button{
      margin:10px 0px;
    }

  }
}

@media (max-width: 400px) {
  .Options {

  select, button {
    font-size: 3.3em;
  }
}
}