@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Bungee+Shade|Sirin+Stencil&display=swap');

body{
    margin: 0;
    padding: 0;
}

h1{
font-family: 'Bungee Shade', cursive;
    font-size: 5em;
    margin:0;
}